body{
  background-color: lightsteelblue;
}
.page_left {
   
    float: left;
    width: 98%;
    margin: 10px 10px 10px 10px;
    padding: 30px;
  
  }


/* 
  .left_city {
    float: center;
    padding: 10px;
    text-align: center;
  } */
  .page_right {
    float: right;
    background-color: whitesmoke;
    width: 100;
    height: 200;
    margin: 10px 10px 10px 10px;
    padding: 10px;
  
  }

  /* .sample-metadata{
    background-color: whitesmoke;
  } */

  #sample-metadata {
    background-color: whitesmoke;
    font-variant-numeric: slashed-zero;
    text-align: left;

  }
.landing_left_image {
  display: inline-block;
}


.hemi_title {
    text-align: center;
}
/* .row {
    padding: 10px;

  } */
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  #table_header {
    /* text-align: center; */
    padding: 50px;
  }
  #table-area {
    float: center;
    
    width: 120%;
    height: 100%;
    /* margin: 1000px 50px 50px 50px; */
    padding: 60px;
  }

  
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}
  

#map_container {
  position: relative;
  height: 98%;
  width: 98%;
}

#jobs_map {
  position: relative;
  height: 400px;
  width: 600px;
}

.table {
  background-color: whitesmoke;
  /* position: center; */
  /* padding-left: 30px; */

}


